.notification {
    width: 400px;
    height: 100px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s linear;
    z-index: 9999999;
    background-color: #333333;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.436);
    border: 1px solid #cffccf12;
}

.active-notification {
    transition: transform 0.3s linear;
    opacity: 1;
    transform: translateY(0);
}

.mensagem-notification {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0.4rem 0.6rem;
    background-color: #333333;
}

.mensagem-notification .tags_msg p {
    color: #fff;
}

.profile_notification {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #CFFCCF;

}

.profile_notification_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
}

.profile_notification_img img {
    height: 100%;
    border-radius: 50%;
}

/*  */
.profile_notification_data {
    height: 50px;
    letter-spacing: 0.5px;
}

.profile_notification_data p:nth-child(1) {
    font-weight: 500;

}

.profile_notification_data p:nth-child(2) {
    font-weight: 200;
    color: #FFF;
}