.profile {
    position: relative;
}

/* Pofile Usuario logado */
.profile-user-login {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.profile-user-login-img {
    width: 55px;
    height: 50px;
    position: relative;
    z-index: 5;
    border-radius: 4px;
    cursor: grab;
}

.profile-user-login #status {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 0;
    background-color: #272626;
    padding: 0.2rem;
    border-radius: 3px;
    border-top: 1px solid #cffccf1a;
    width: 60px;
    height: 33px;
    text-align: center;
}

.profile-user-login-data {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #cffccf1a;
    color: #CFFCCF;
    z-index: 1;
}

.profile-user-login-data-info #nome {
    color: #cffccf;
}

.profile-user-login-data-info #email {
    color: #BFBFBF;
}

/* -------------- */

/* Porfile Usuario logado config */
.profile-config {
    width: 300px;
    height: 350px;
    background-color: #333333;
    position: absolute;
    z-index: 6;
    top: 8px;
    left: 0px;
    border-radius: 5px;
    border-top: 1px solid #cffccf12;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    padding: 0.3rem;
}
.profile-config .exite {
    width: 65px;
    background-color: #272626;
    border: none;
    color: #CFFCCF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: grab;
    gap: 2px;
}
.profile-config .exite span{
    content: '';
    width: 3px;
    height: 15px;
    background-color: #CFFCCF;
    position: absolute;
    left: 0;
    border-radius: 30px;
}

.profile-config-profile-button {
    display: flex;
    align-items: center;
    background-color: #272626;
    border: none;
    padding: 0.6rem;
    border-radius: 4px;
    gap: 4px;
    transition: 0.3s ease-in-out;
    color: #CFFCCF;
    margin-bottom: 10px;
    position: relative;
    cursor: grab;
}

.profile-config-profile-button span {
    content: '';
    width: 3px;
    height: 15px;
    background-color: #CFFCCF;
    position: absolute;
    left: 0;
    border-radius: 30px;
}

.profile-config-profile-button:hover {
    background-color: #272626d4;
    color: #FFF;
}

.profile-config-data-info {
    display: flex;
    gap: 10px;
}

.profile-config-img {
    height: 45px;
    width: 55px;
    border-radius: 5px;
}

.profile-cofig-data {
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

.profile-config-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-config-info span {
    color: #FFFF;
}

.profile-config-info #nome {
    color: #cffccf;
    text-wrap: wrap;
}

.profile-config-info #email {
    text-wrap: wrap;
    color: #cffccf;
}

.profile-config-info #identifier {
    font-size: 1.4rem;
    background-color: #272626;
    padding: 0.5rem;
    border-radius: 5px;
    color: #FF8060;
}


/* ----------- */

/* Profile lista de usuarios */
.list-user-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    cursor: grab;
    margin-top: 5px;
    position: relative;
}

.list-user-item:hover {
    background-color: #33333381;
}

.list-user-item-active {
    background-color: #333333d7;
}

.list-user-item-active span {
    content: '';
    display: block;
    width: 3px;
    height: 25px;
    background-color: #CFFCCF;
    position: absolute;
    left: 0;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}


.list-user-img {
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.list-user-img img {
    width: 100%;
    height: inherit;
    border-radius: 50%;
}

.list-user-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-user-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-user-info #nome {
    color: #cffccf;
}

.list-user-info #email {
    color: #FFFF;
}
.list-user-data #status{
    position: absolute;
    right: 5px;
    top: 2px;
}
/* Profile do usuario selecionado no chat de menssagem */
.list-users {
    height: calc(100% - 15rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.list-users::-webkit-scrollbar {
    width: 0;
}

.profile-user-selected {
    background-color: #333333;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 0.5rem;
    height: 4.5rem;
    gap: 10px;
}

.profile-user-selected-img {
    width: 57px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.profile-user-selected-img img{
    width: 100%;
    height: inherit;
    border-radius: 50%;
}

.profile-user-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-user-info #nome {
    color: #cffccf;
    font-weight: 300;
    font-size: 17px;
}

.profile-user-info #email {
    color: #cffccf;
    font-weight: 300;
    font-size: 15px;
}