.container-lista-amizades {
    width: 400px;
    height: calc(100%);
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    overflow-y: auto;
}

.content-lista-amizades {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.usuario-lista-amizades {
    display: flex;
    margin-top: 10px;
    align-items: center;
    cursor: grab;
    border-radius: 4px;
    
}

.background-usuario-lista-amizades {
    background-color: #262626;
}

.data-info-usuario , 
.data-info-usuario-logado {
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.data-info-info-usuario-logado {
    height: 100%;
    padding: 0.5rem 0;
    width: inherit;
}
.data-info-img-usuario, 
.data-img-usuario-logado {
    width: 70px;
    height: 55px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.data-info-img-usuario img, 
.data-img-usuario-logado img {
    width: 100%;
    height: 60px;
}

.data-info-info {
    height: 55px;
}

.data-info-info>div span {
    color: #EDEDED;
    font-weight: 300;
    font-size: 16px;
}

/* Wallper */
.container-wallper-mensage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0.5rem;
    overflow: hidden;
}

.content-wallper-mensage {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: #221E1F;
    
}
.background-walper-img {
    width: 100%;
    height: 100%;
    background:url('/src/assets/img/img-git-Anonimo.jpg');

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallper-mensage-text span{
    text-wrap: wrap;
    font-weight: 300;
    background-color: #EDEDED;
    color: #221E1F;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 20px #221E1F;
    width: 100%;
}
